* {
    margin: 0; padding: 0; color: #333;
}
.wrap {
    margin: 0 auto;
    width: 940px;
}
.slide {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.slide > img {
    position: absolute;
    top: 0;
    left: -100%;
}
.slide > img:first-child {
    left: 0;
}